// BREAKPOINT LG
@include breakpoint(lg) {
  .hide-lg {
    display: none;
  }
}

@include breakpoint(only-lg) {
  .hide-only-lg {
    display: none;
  }
}

@include breakpoint(lg-and-below) {
  .hide-lg-and-below {
    display: none;
  }
}


// BREAKPOINT MD
@include breakpoint(md) {
  .hide-md {
    display: none;
  }
}

@include breakpoint(only-md) {
  .hide-only-md {
    display: none;
  }
}

@include breakpoint(md-and-below) {
  .hide-md-and-below {
    display: none;
  }
}


// BREAKPOINT SM
@include breakpoint(sm) {
  .hide-sm {
    display: none;
  }
}

@include breakpoint(only-sm) {
  .hide-only-sm {
    display: none;
  }
}

@include breakpoint(sm-and-below) {
  .hide-sm-and-below {
    display: none;
  }
}


// BREAKPOINT XS
@include breakpoint(xs-and-below) {
  .hide-xs-and-below {
    display: none;
  }
}
