/*------------------------------------*\
  GRID GENERATOR
\*------------------------------------*/

$screen-xl: "only screen and (min-width: #{$breakpoint-lg + 1})";
$screen-lg: "only screen and (min-width: #{$breakpoint-md + 1})";
$screen-md: "only screen and (min-width: #{$breakpoint-sm + 1})";
$screen-sm: "only screen and (min-width: #{$breakpoint-xs + 1})";


@import 'grid-float';
@import 'grid-flex';
@import 'grid-inlineblock';

@if ($use-grid) {
  @if ($grid-variation == 'flex') {
    @include grid-flex();
  }
  @else if ($grid-variation == 'float') {
    @include grid-float();
  }
  @else if ($grid-variation == 'inlineblock') {
    @include grid-inlineblock();
  }
}
